body {
  background-color: rgb(184, 92, 26);
  background-image: ![](images/bag-background.png);
}

.centerContent {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  float: center;
  width: 500px;
}

.marioSwap {
  padding-top: 100px;
  float: left;
  width: 200px;
  height: 200px;
  background: center / contain no-repeat url("images/Mario.png");
  margin: 20px;
}

.marioSwap:hover {
  background: center / contain no-repeat url("images/Luigi.png");
}

.toadSwap {
  padding-top: 100px;
  float: left;
  width: 200px;
  height: 200px;
  background: center / contain no-repeat url("images/Toad.png");
  margin: 20px;
}
.toadSwap:hover {
  background: center / contain no-repeat url("images/Luigi.png");
}

.yoshiSwap {
  float: left;
  width: 200px;
  height: 200px;
  background: center / contain no-repeat url("images/Yoshi.png");
  margin: 20px;
}

.yoshiSwap:hover {
  background: center / contain no-repeat url("images/Luigi.png");
}

.postContent {
  margin-left: 200px;
}

.myPic {
  padding-left: 20px;
  height: 200px;
  float: left;
}

h1 {
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e;
  color: #e4000f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rightli {
  float: right;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 3px solid #333;
  overflow: hidden;
  background-color: #333;
}

ul.horizontal li {
  float: left;
}

ul.horizontal li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
  background-color: #000;
}

ul.horizontal li a.active {
  background-color: rgb(38, 179, 33);
}

ul.horizontal li a.active:hover {
  background-color: rgba(38, 179, 33, 0.842);
}
